<launch>
  <arg name="ns" default="/"/>
  <arg name="fcu_url" default="/dev/px4fmu:57600" />
  <arg name="gcs_url" default="udp://0.0.0.0:14550@192.168.31.23:14550" />
  <arg name="tgt_system" default="1" />
  <arg name="tgt_component" default="1" />
  <arg name="web_video_server" default="true"/>

  
  <!-- Launch bridge -->
  <include file="$(find px4_realsense_bridge)/launch/bridge.launch" >
  </include>

  <!-- Launch MavROS -->
  <group ns="$(arg ns)">
      <include file="$(find mavros)/launch/node.launch">
          <arg name="pluginlists_yaml" value="$(find mavros)/launch/px4_pluginlists.yaml" />
          <!-- Need to change the config file to get the tf topic and get local position in terms of local origin -->
          <arg name="config_yaml" value="$(find px4_realsense_bridge)/resource/px4_config.yaml" />
          <arg name="fcu_url" value="$(arg fcu_url)" />
          <arg name="gcs_url" value="$(arg gcs_url)" />
          <arg name="tgt_system" value="$(arg tgt_system)" />
          <arg name="tgt_component" value="$(arg tgt_component)" />
      </include>
  </group>

  <node name="web_video_server" pkg="web_video_server" type="web_video_server" if="$(arg web_video_server)" required="false" respawn="true" respawn_delay="5">
        <param name="default_stream_type" value="ros_compressed"/>
        <param name="publish_rate" value="1.0"/>
    </node>

</launch>
